.itinerary-container {
  background-color: #f1fff3;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 70vh;
  bottom: 0;
  z-index: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itinerary-details-container {
  background-color: #00d09e;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.itinerary-details-current {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.itinerary-details-current p {
  margin: 0;
  font-weight: 200;
  text-align: center;
}

.itinerary-details-current-icon-container {
  border-radius: 100%;
  border: 3px solid white;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itinerary-details-current-icon {
  font-size: 30px;
}

.itinerary-details-right {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 65%;
}

.itinerary-details-vertical-divider {
  width: 2px;
  height: 120px;
  background-color: white;
}

.itinerary-details-place-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.itinerary-details-place-section {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.itinerary-details-place-icon {
  font-size: 25px;
}

.itinerary-details-place-title {
  font-size: 14px;
  font-weight: 200;
  margin: 0;
}

.itinerary-details-place-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.itinerary-details-horizontal-divider {
  height: 2px;
  background-color: white;
  width: 100%;
}

.itinerary-agenda-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.itinerary-agenda-section {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.itinerary-agenda-divider {
  width: 1px;
  height: 70px;
  background-color: #00d09e;
}

.itinerary-agenda-place {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.itinerary-agenda-place-location {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.itinerary-agenda-place-time {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  color: #0068ff;
}

.itinerary-agenda-status {
  margin: 0;
  font-weight: 200;
  font-size: 12px;
  text-align: center;
}

.itinerary-agenda-equipment {
  margin: 0;
  font-weight: 400;
  font-size: 14x;
}
